*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0; }

ul,
a {
  list-style: none;
  text-decoration: none;
  color: black; }

li, p {
  line-height: 40px;
  margin: 0 24px; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Open Sans", sans-serif; }

.wrapper {
  margin: 25px auto 0 auto;
  max-width: 1200px;
  overflow: hidden; }

header {
  height: 20vh; }

header .wrapper,
#code .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 20px;
  align-items: center; }

#skills .wrapper,
#projects .wrapper {
  display: grid;
  justify-content: space-between;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr); }

#languages .wrapper,
#courses .wrapper {
  display: grid; }

#projects .wrapper a {
  display: flex;
  justify-content: center; }

img {
  width: 100%;
  height: auto; }

.code {
  padding-left: 10px;
  width: 100%;
  font-weight: 100;
  background-color: #DDEBC7; }

.text_card {
  background-color: #AABD93; }

.title {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-size: 32px;
  padding: 24px;
  color: #495946; }

.description {
  margin: 24px; }

.project {
  border: 1px solid #DDEBC7;
  filter: grayscale(100%) opacity(90%);
  z-index: -10;
  transition: hover, 0.2s; }

.project:hover {
  filter: grayscale(0) opacity(100%); }

#languages h2,
#courses h2 {
  justify-self: center; }

footer {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #DDEBC7;
  padding: 40px;
  margin-top: 40px; }

footer img {
  width: 150px;
  height: auto;
  margin-bottom: 24px; }

@media only screen and (max-width: 1100px) {
  header .wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    row-gap: 80px; } }

@media only screen and (max-width: 850px) {
  #code .wrapper,
  #skills .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center; }
  #projects .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center; }
  .text_card,
  .project {
    width: 320px; } }

@media only screen and (max-width: 640px) {
  #projects .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center; }
  #courses .fas {
    display: none; } }

h1 {
  font-family: "Manrope", sans-serif;
  font-size: 40px; }

h2,
h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 20px; }

#projects h2,
#code h2 {
  grid-column: 1 / -1;
  justify-self: center; }

figure {
  position: absolute;
  margin: 0 auto;
  width: 48px;
  height: 48px; }

nav {
  display: block;
  justify-self: end; }

@media only screen and (max-width: 1100px) {
  nav {
    justify-self: center; } }

nav ul {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: large;
  color: black; }

nav ul li:not(:last-child) {
  margin-right: 20px; }

.underline {
  position: relative; }

.underline::after {
  content: "";
  position: absolute;
  top: 2px;
  height: 2px;
  width: 0px;
  background-color: #AABD93;
  transition: hover, 0.2s; }

li:hover .underline::after {
  width: 100%;
  transition: hover, 0.2s; }

mark {
  font-size: 10px;
  padding: 0 10px;
  background-color: #AABD93; }

ul li span {
  display: inline-block;
  margin-left: 10px; }

.courses ul li .fas {
  display: inline-block;
  color: #495946; }

.address a:hover,
footer a:hover {
  font-weight: 600; }

.date {
  font-size: 12px;
  margin: 24px; }

#hamMenu {
  display: none; }

@media only screen and (max-width: 600px) {
  #hamMenu {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100; }
  .desktopMenu {
    display: none; }
  figure {
    position: absolute;
    margin: 150px auto 0 auto;
    width: 48px;
    height: 48px; }
  h1 {
    font-size: 30px; }
  .mobileNav {
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    position: fixed;
    background-color: #879973;
    transform: translateX(201px);
    transition: 0.4s; }
  .mobileNav ul {
    margin: 150px 20px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    top: 0; } }

.show {
  transform: translateX(0); }

.upperLine,
.middleLine,
.bottomLine {
  width: 35px;
  height: 4px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s; }

.crossed .upperLine {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

.crossed .middleLine {
  opacity: 0; }

.crossed .bottomLine {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -7px); }
